<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="kalyankrishna.in" />
    <add key="ida:ClientId" value="5dc57c88-d9b1-4660-b638-42c46f2ac30d" />
    <add key="ida:AppKey" value="Iw+Q/EHPdJ7tzXk/mabp3oxYEZ3TkcTFw3daoKjM57s=" />
    <add key="todo:TodoListResourceId" value="api://6bffce4f-00e7-4ff5-b6d7-bd813aee1074" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
  </appSettings>
</configuration>